html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#main {
    background-color: orange;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#top {
    background-color: yellow;
    height: 60px;
    display: flex;
}

#topleft {
    background-color: red;
    flex: 1;
    display: flex;
    align-items: center;
}

#topright {
    background-color: purple;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


#bottom {
    background-color: blue;
    height: 120px;
}

.menuitem {
    padding: 10px;
    font-size: 17px;
}

#menuicon {
    height: 40px
}

#signin {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
    color: white;
    border-radius: 30px;
    background-color: rgb(0, 53, 177);
}

#middle {
    background-color: green;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 400px;
    height: auto;
}

#searchbar {
    width: 600px;
    height: 60px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #4a4a4a;
    display: flex;
}

#searchbarleft {
    flex: 1;
    background-color: yellow;
    border-radius: 50px 0px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#searchbarright {
    flex: 1;
    background-color: rgb(115, 0, 255);
    border-radius: 0px 50px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.searchicon {
    height: 40px;
    margin-left: 10px;
}

#buttoncontainer {
    display: flex;
    margin-top: 10px;
}

.button {
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    background-color: #999999;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    margin: 10px;
}


